@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar:horizontal{
    height: 5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: rgb(var(--v-theme-primary));
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(var(--v-theme-primary-lighten-1));
}

::-webkit-scrollbar-thumb:active{
    background-color: rgb(var(--v-theme-primary-lighten-2));
}

::selection {
    --v-theme-overlay-multiplier: var(--v-theme-primary-lighten-3-overlay-multiplier);
    background: rgb(var(--v-theme-primary-lighten-3)) !important;
    color: rgb(var(--v-theme-on-primary-lighten-3)) !important;
}

::-moz-selection {
    --v-theme-overlay-multiplier: var(--v-theme-primary-lighten-3-overlay-multiplier);
    background: rgb(var(--v-theme-primary-lighten-3)) !important;
    color: rgb(var(--v-theme-on-primary-lighten-3)) !important;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

input:not([type='number']):focus-visible{
    outline: none;
}

table{
    border-collapse: collapse;
    border-scpacing: 0;
}